{% extends 'layout.html' %}
{% block title %}
  All Mandals
{% endblock %}
{% block content %}
  <!-- Content wrapper -->
  <div class="content-wrapper container-xxl my-3">
    <div class="card">
      <h5 class="card-header">All Mandirs</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>City</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
              {% for i in data %}
            <tr>
              <td>{{i.id}}</td>
              <td><strong>{{i.name}}</strong></td>
              <td>{{i.city}}</td>
              <td>
                {% if i.status == 1 %}
                <span class="badge bg-label-primary me-1">Desable</span>
                {% else %}
                <span class="badge bg-label-primary me-1">Active</span></td>
                {% endif %} 

              </td>

              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/mandir/edit/{{ i.id }}/"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
