{% extends 'layout.html' %}
{% block title %}
  Mandir Edit
{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card ">
      <div class="card-body">
        <form class='d-flex flex-column' action="/khsetra/update/{{id}}/" method='post'>
          {% csrf_token %}
          {{data.as_p }}  
          <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Submit</button>
          </div>
      </form>
    </div>
  </div>  
</div>
{% endblock %}
